statemachine/report_app.asl.json
{
  "Comment": "Generate IAM Credential report and upload to a specified S3 bucket",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "Result": {
        "bucket_name": "${ResultBucketName}",
        "notification_topic": "${NotificationTopic}",
        "get_pass_count": 0,
        "get_max_pass_count": 3
      },
      "ResultPath": "$.report",
      "Next": "Generate Report"
    },
    "Generate Report": {
      "Type": "Task",
      "Resource": "${GenerateReportFunctionArn}",
      "ResultPath": "$.report",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ],
      "Next": "Generate Report Status?"
    },
    "Generate Report Status?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.report.state",
          "StringEquals": "success",
          "Next": "Process Report"
        },
        {
          "Or": [
            {
              "Variable": "$.report.state",
              "StringEquals": "failed"
            },
            {
              "Variable": "$.report.get_pass_count",
              "NumericGreaterThanEqualsPath": "$.report.get_max_pass_count"
            }
          ],
          "Next" : "Generate Report Failed"
        }
      ],
      "Default": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Generate Report"
    },
    "Process Report": {
      "Type": "Task",
      "Resource": "${ProcessReportFunctionArn}",
      "ResultPath": "$.report",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ],
      "Next": "Process Report Status?"
    },
    "Process Report Status?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.report.state",
          "StringEquals": "success",
          "Next": "Process Report Succeeded"
        }
      ],
      "Default": "Process Report Failed"
    },
    "Generate Report Failed": {
      "Type": "Fail"
    },
    "Process Report Failed": {
      "Type": "Fail"
    },
    "Process Report Succeeded": {
      "Type": "Succeed"
    }
  }
}