statemachine/report_app.asl.json
{
  "Comment": "Generate IAM Credential report and upload to a specified S3 bucket",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "Result": {
        "bucket_name": "${ResultBucketName}",
        "notification_topic": "${NotificationTopic}",
        "get_pass_count": 0,
        "get_max_pass_count": 3
      },
      "ResultPath": "$.report",
      "Next": "Get Report"
    },
    "Generate Report": {
      "Type": "Task",
      "Resource": "${GenerateReportFunctionArn}",
      "ResultPath": "$.report",
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ],
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Get Report"
    },
    "Get Report": {
      "Type": "Task",
      "Resource": "${ProcessReportFunctionArn}",
      "ResultPath": "$.report",
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ],
      "Next": "Get Report Status?"
    },
    "Get Report Status?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.report.state",
          "StringEquals": "success",
          "Next": "Get Report Succeeded"
        },
        {
          "Variable": "$.report.get_pass_count",
          "NumericGreaterThanEqualsPath": "$.report.get_max_pass_count",
          "Next": "Get Report Failed"
        },
        {
          "Variable": "$.report.errorCode",
          "StringEquals": "ReportInProgress",
          "Next": "Wait"
        },
        {
          "Or": [
            {
              "Variable": "$.report.errorCode",
              "StringEquals": "ReportNotPresent"
            },
            {
              "Variable": "$.report.errorCode",
              "StringEquals": "ReportExpired"
            }
          ],
          "Next": "Generate Report"
        }
      ],
      "Default": "Get Report Failed"
    },
    "Get Report Failed": {
      "Type": "Fail",
      "Cause": "$.report.errorCode"
    },
    "Get Report Succeeded": {
      "Type": "Succeed"
    }
  }
}