statemachine/report_app.asl.json
{
  "Comment": "State Machine that gets and uploads the report",
  "StartAt": "Init Vars",
  "States": {
    "Init Vars": {
      "Type": "Pass",
      "Result": {
        "bucket_name": "${ResultBucketName}"
      },
      "ResultPath": "$.report",
      "Next": "Generate Report"
    },
    "Generate Report": {
      "Type": "Task",
      "Resource": "${GenerateReportFunctionArn}",
      "ResultPath": "$.report",
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ],
      "Next": "ReportReady?"
    },
    "ReportReady?": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.report.state",
              "StringEquals": "STARTED"
            },
            {
              "Variable": "$.report.state",
              "StringEquals": "INPROGRESS"
            }
          ],
          "Next": "wait_for_report"
        }
      ],
      "Default": "Get Report"
    },
    "wait_for_report": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Get Report"
    },
    "Get Report": {
      "Type": "Task",
      "Resource": "${ProcessReportFunctionArn}",
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ],
      "End": true
    }
  }
}